          
          <div class="experience">
            <h2>Experience</h2>
            {% if site.experience != blank -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign experience = site.experience | reverse -%} 
              {% for item in experience limit: site.experience_limit %} 
                <tr>
                  <th scope="row">{{ item.start_end }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="experience-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No experience so far...</p>
          {%- endif %} 
          </div>
