<div class="services">
  <h2>Professional Services</h2>
  {% if site.services != blank -%} 
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
    {%- assign services = site.services | reverse -%} 
    {% for item in services limit: site.services_limit %} 
      <tr>
        <td>
          {% if item.inline -%} 
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%} 
            <a class="services-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %} 
        </td>
      </tr>
    {%- endfor %} 
    </table>
  </div>
{%- else -%} 
  <p>No services so far...</p>
{%- endif %} 
</div>